<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout fixo</title>
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
    <div id="principal">
        <div id="marca">marca</div>
        <div id="conteudo">
            <div class="conteudo1">
                <h2>TITULO</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus asperiores libero esse sint id aliquam vitae enim ab. Qui eius debitis voluptas esse veritatis voluptatibus numquam, vitae itaque nobis ducimus.</p>
            </div>
            <div class="conteudo2">
                <h2>TITULO</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus asperiores libero esse sint id aliquam vitae enim ab. Qui eius debitis voluptas esse veritatis voluptatibus numquam, vitae itaque nobis ducimus.</p>
            </div>
        </div>
        <div id="navegacao">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Jogos</a></li>
                <li><a href="#">Main</a></li>
                <li><a href="#">UruseiYatsura</a></li>
            </ul>
        </div>
        <div id="rodape">rodape</div>
    </div>
    
</body>
</html>