ul{
    list-style-type: none;/*define o tipo de marcador*/
    padding: 0;
    margin: 0;
    border: 1px solid red;
    width: 200px;

}
ul a{
    text-decoration: none;
    width: 200px;/*deixa-se de acordo com o tamanho da imagem*/
    height: 40px;
    display: block;
    border: 1px solid red;
    background: red url(../imagens/menu.png) no-repeat left;
    line-height: 40px;
    text-indent: 30px;/*é o mesmo que padding, mas é para texto esse. É util*/
}
ul a:hover{
    background: url(../imagens/menu.png) no-repeat right;/*faz com que quando passe o mouse em cima, a imagem se mova para direita.*/
    color: white;
}
#navegacao .home a,
#navegacao2 .jogos a {
    background-position: right;
    background-color: orange;
    color: red;
} /*aqui, quando vc estiver na página Home, a opção vai ficar marcada. A mesma coisa
acontece com a página jogos. O difícil aqui é que tem mudar os "id" de cada página
para que não aconteça de duas opções estarem marcadas; tem que diferenciar
